<app-header titulo="check"></app-header>

<ion-content>

  <ion-list>
    <!--    <ion-item>-->
    <!--      <ion-label>Checkbox</ion-label>-->
    <!--      <ion-checkbox slot="end"></ion-checkbox>-->
    <!--    </ion-item>    -->
    <ion-item (click)="onClick(item)" *ngFor="let item of data">
      <ion-label>{{item.name}}</ion-label>
      <ion-checkbox [(ngModel)]="item.selected" [color]="item.name" slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button (click)="verData()" expand="block">
    Ver Data
  </ion-button>

</ion-content>
